<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info-section">
    <p>
      Le concept de l'application repose sur une idée simple mais captivante :
      intégrer la communauté du serveur Discord de Stats.fm au quotidien de ses
      utilisateurs à travers des défis musicaux. Chaque jour, la communauté des
      utilisateurs de Stats.fm lance un nouveau challenge sur leur salon
      Discord, associé à une chanson spécifique, invitant les membres à explorer
      différents genres musicaux et à élargir leurs horizons auditifs. Ce jeu
      stimulant favorise non seulement l'engagement au sein de la communauté
      mais offre également une manière ludique de découvrir de nouvelles
      musiques.
    </p>
    <p>
      Cependant, une contrainte majeure réside dans le fait que l'accès à ces
      challenges est exclusivement limité au salon Discord de Stats.fm. Pour
      surmonter cet obstacle, un bot Discord a été mis en place pour collecter
      automatiquement les défis chaque soir. Les informations sont ensuite
      transférées à une API personnalisée, spécialement conçue pour cette
      application, permettant ainsi une récupération fluide et efficace des
      données.
    </p>

    <ion-img src="../../../assets/images/channelDiscord.png"></ion-img>
    <br />
    <br />

    <ion-img src="../../../assets/images/songChallengeBot.png"></ion-img>

    <p>
      La page d'accueil de l'application met en avant le challenge du jour,
      accompagné des défis des trois jours précédents, offrant une visibilité
      immédiate sur les activités récentes.
    </p>
    <!-- <ion-img src="../../../assets/images/pagePrincipal.png"></ion-img> -->

    <p>
      Un bouton "Plus de Challenges" dirige les utilisateurs vers une page
      dédiée, où une archive de 100 challenges passés, voire plus, est
      accessible. Un simple tapotement sur l'image d'un challenge permet de
      l'afficher en détail, facilitant ainsi la consultation.
    </p>
    <!-- <ion-img src="../../../assets/images/moreChallenge.png"></ion-img>
    <br />
    <ion-img src="../../../assets/images/lightbox.png"></ion-img>
    <br />
    <br />
    <ion-img src="../../../assets/images/moreChallenge2.png"></ion-img> -->

    <p>
      En outre, l'application s'enrichit d'une fonctionnalité 'Personnelle',
      permettant à chacun de proposer ses propres challenges via le bouton
      "Créer un challenge". Ces défis personnels, une fois créés, peuvent être
      consultés en cliquant sur l'icône Spotify associée, offrant une expérience
      utilisateur interactive et engageante. De plus, la possibilité de modifier
      ou de supprimer ses challenges assure une gestion flexible et
      personnalisée de ces contenus.
    </p>

    <h2>Développements futurs envisagés :</h2>
    <ul>
      <li>
        Traduction des Challenges : Afin de rendre l'application accessible à un
        public plus large, une traduction des challenges en français est prévue.
        Cette fonctionnalité permettra de franchir les barrières linguistiques
        et d'attirer une communauté francophone active.
      </li>
      <li>
        Suggestion de Challenges à la Communauté Stats.fm : Un système de
        suggestions permettra aux utilisateurs de soumettre leurs propres idées
        de challenges directement à la communauté Stats.fm. Cette initiative
        vise à renforcer l'interaction et l'engagement des membres, en leur
        donnant l'opportunité de contribuer activement au dynamisme du serveur.
      </li>
    </ul>

    <p>
      En somme, cette application se présente comme un pont innovant entre la
      communauté en ligne de Stats.fm et les passionnés de musique, enrichissant
      l'expérience de chacun par le partage et la découverte musicale.
    </p>
  </div>
</ion-content>
