<ion-button (click)="openModal()" id="open-custom-dialog"
  >Create a Challenge</ion-button
>

<div id="more-challenge">
  <ng-container *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </ng-container>
  <div *ngIf="!isLoading">
    <div
      *ngFor="let songChallenge of songsChallenges; let i = index"
      class="challenge-container"
    >
      <ion-img
        [src]="songChallenge.coverUrls"
        alt="Challenge Image"
        class="challenge-image"
        (click)="lightbox.imageSrc = songChallenge.coverUrls; lightbox.show()"
      />
      <div class="challenge-info">
        <strong>{{
          songChallenge.titre.length > 35
            ? (songChallenge.titre | slice : 0 : 33) + "..."
            : songChallenge.titre
        }}</strong>

        <p>{{ songChallenge.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <app-lightbox #lightbox></app-lightbox>
      <div class="onright">
        <ion-icon
          name="create"
          (click)="openModal(songChallenge)"
          id="open-custom-edit-dialog"
          >Modifier</ion-icon
        >
        <ion-icon
          name="trash"
          color="danger"
          (click)="deleteChallenge(songChallenge.id, i)"
          >Supprimer</ion-icon
        >
      </div>
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement de plus de défis..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

<ion-modal id="example-modal" #modal trigger="open-custom-edit-dialog">
  <ng-template>
    <div class="wrapper">
      <h1>Modify Challenge</h1>
      <div class="padder">
        <ion-input
          [(ngModel)]="challengeName"
          label="Challenge Name"
          label-placement="floating"
          fill="solid"
          placeholder="Enter Challenge Name"
        ></ion-input>
        <ion-button (click)="closeModal()" color="danger">Annuler</ion-button>
        <ion-button (click)="validEdit()">Valider</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <h1>Create your challenge</h1>
      <div class="padder">
        <ion-input
          [(ngModel)]="challengeName"
          label="Challenge Name"
          label-placement="floating"
          fill="solid"
          placeholder="Enter Challenge Name"
        ></ion-input>
        <ion-button (click)="valid()">Valider</ion-button>

        <ion-button (click)="closeModal()" color="danger">Annuler</ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
