.challenge-container {
  border: 2px solid #1db954;
  border-radius: 25px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  margin: 2% 2% 2% 2%;
}

.challenge-image.ios {
  width: 22%;
}

.challenge-image.md {
  width: 22%;
}

.challenge-image {
  width: 10%;
}

.challenge-info {
  text-align: left;
  margin-top: 8px;
}

.challenge-info h3 {
  margin: 0;
}

.challenge-info p {
  margin: 0;
}

#more-challenge {
  margin-top: 5%;
}

@media (min-width: 768px) {
  // 768px est un point de rupture courant pour les écrans desktop
  #noDesktop {
    display: none; // Cache l'élément sur les écrans desktop
  }
}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.padder {
  padding: 5%;
}

.challenge-container {
  display: flex;
  justify-content: space-between; /* Ajouté pour justifier le contenu */
  align-items: center; /* Centre les éléments verticalement */
  /* Autres styles inchangés */
}

.onright {
  display: flex;
  align-items: center; /* Centre les icônes verticalement */
  gap: 10px; /* Ajoute un espace entre les icônes */
}

ion-icon {
  font-size: 24px; /* Ajustez la taille des icônes */
  cursor: pointer; /* Change le curseur pour indiquer qu'ils sont cliquables */
}
